html {
  background: #ffffff;
}

body {
  font-family: 'Georgia', serif;
}

a.header:link, a.header:active, a.header:visited, a.header:hover{
  font-family: 'Raleway', sans-serif;
  font-size: 8em;
  text-decoration: none;
}

.back {
  background: #ff6d99;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  text-align: center;
  padding-top: 25;
}
a.back:link, a.back:active, a.back:visited, a.back:hover {
  color: white;
  text-decoration: none;
}

/*grid setup*/
* {
  box-sizing: border-box;
}
.col-margin {
  width: 16.66%;
}
.col-content {
  width: 33.33%;
}
.col-title {
  width: 83.34%;
  margin-botton: 50px;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    /*border: 1px solid red;*/
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
